body {margin: 0px;
text-align: center;
font-family: montserrat;}




img {height: 50px;
padding-top: 15px;}

.git {height:50px;
padding-top: 30px;}

.programming {height:50px;
  padding-top: 30px;}

.java {height:50px;
  padding-top: 30px;}

.zen {height:50px;
  padding-top: 30px;}

.tictactoe {height:50px;
  padding-top: 30px;}





hr {
    border-top: 10px dotted #18978F;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
  width: 900px;
height: 20px;}

h2 {padding: 0px;
margin-top: 20px;}

.heading {background-color:#54BAB9;
  color:#F7ECDE;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
margin-top: 0px;}


.blog-one {display:inline-block;
  width: 400px;
  height: 300px;
margin-top: -30px;}

.blog-two {display:inline-block;
width: 400px;
height: 300px;
}


.blog-three {display:inline-block;
  width: 400px;
  height: 300px;}

.blog-four {display:inline-block;
  width: 400px;
  height: 300px;}

.blog-five {display:inline-block;
  width: 400px;
  height: 300px;}

.bottom {
font-size: 9pt;
  font-style: italic;
}

.display {height: 250px;}

ul {

  display:inline-block;

  text-align: left;
width:50%;}

.inline-block-info {
  display: inline-block;
  width: 70%}

  .values {
    display: inline-block;
    width: 70%}

  .learing-plan
  {
    display: inline-block;
    width: 70%}
 