body {margin: 0px;
text-align: center;
font-family: montserrat;}


hr {
    border-top: 10px dotted #18978F;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
  width: 500px;
height: 20px;}

h2 {padding: 0px;
margin-top: 20px;}

.heading {background-color:#54BAB9;
  color:#F7ECDE;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
margin-top: 0px;}

.blog-image {height:50px;}

.blog-one {display:inline-block;
  width: 400px;
  height: 300px;
margin-top: -30px;}

.blog-two {display:inline-block;
width: 400px;
height: 300px;
}


.blog-three {display:inline-block;
  width: 400px;
  height: 300px;}

.blog-four {display:inline-block;
  width: 400px;
  height: 300px;}

.blog-five {display:inline-block;
  width: 400px;
  height: 300px;}

.bottom {
font-size: 9pt;
  font-style: italic;
}

.display {height: 250px;}

ul {

  display:inline-block;
  text-align: left; 
  width:50%;}

.inline-block-info {
  display: inline-block;
  width: 70%}

  .values {
    display: inline-block;
    width: 70%}

  .learing-plan
  {display: inline-block;
    width: 70%}

    @media (max-width: 768px) 
    {
      hr {width: 30%;}
      div {width: 90%;}
      .heading {background-color: pink;}}

      @media (min-width: 768px) {
      hr {width: 30%;}
      div {width: 90%;}
      .heading {background-color: teal;}

      @media (min-width: 1200px) {
        .heading {background-color: darkmagenta;}
      }
    }