body {margin: 0px;
text-align: center;}

.heading {background-color:#2C3639;
  color:#DCD7C9;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

}

img {height: 50px;
padding-top: 15px;}

h2 {padding: 0px;
margin-top: 20px;}

.blogs { margin: 20px;
text-align: center;}

.blog-one { height: 100px;

}

.blog-two { height: 100px;
  
}

.blog-three { height: 100px;
}

.blog-four { height: 100px;
}

.bottom {
font-size: 9pt;
  font-style: italic;
}

.display {height: 250px;}

ul {

  display:inline-block;

  text-align: left;
width:50%;}

.inline-block-info {
  display: inline-block;
  width: 70%}

  hr {
    border-top: 10px dotted #7D9D9C;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
  width: 900px;
height: 20px;}